.home-en-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-en-home-en {
  gap: 64px;
  width: 100%;
  height: 2041px;
  display: flex;
  position: relative;
  align-items: center;
  background-color: rgba(245, 244, 244, 1);
}
.home-en-footermain {
  top: 1529.0499267578125px;
  left: 2px;
  width: 1440px;
  height: 511.95001220703125px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(34, 34, 34, 1);
}
.home-en-background {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 527px;
  position: absolute;
}
.home-en-footer-ui {
  top: 100px;
  left: 183px;
  width: 1074px;
  height: 315px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-en-text {
  top: 301px;
  left: 409px;
  color: rgba(34, 34, 34, 1);
  height: auto;
  opacity: 0.75;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Josefin Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-en-frame55 {
  gap: 65px;
  top: 0px;
  left: 337px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  justify-content: center;
}
.home-en-learnmore {
  width: 96px;
  height: 223px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-en-text02 {
  color: rgba(34, 34, 34, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Josefin Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-en-text04 {
  top: 43px;
  color: rgba(34, 34, 34, 1);
  height: auto;
  opacity: 0.80;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Josefin Sans;
  font-weight: 400;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.home-en-ticketsandbooking {
  width: 78px;
  height: 187px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-en-text16 {
  color: rgba(34, 34, 34, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Josefin Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-en-text18 {
  top: 43px;
  color: rgba(34, 34, 34, 1);
  height: auto;
  opacity: 0.80;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Josefin Sans;
  font-weight: 400;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.home-en-contact-us {
  width: 220px;
  height: 100px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-en-text26 {
  color: rgba(34, 34, 34, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Josefin Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-en-group50 {
  top: 49px;
  left: 0px;
  width: 220px;
  height: 18px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-en-group49 {
  top: 0px;
  left: 0px;
  width: 220px;
  height: 18px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-en-text28 {
  color: rgba(34, 34, 34, 1);
  height: auto;
  opacity: 0.70;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Josefin Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-en-text30 {
  left: 117px;
  color: rgba(34, 34, 34, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Josefin Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-en-social {
  width: 148px;
  height: 72px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-en-text32 {
  color: rgba(34, 34, 34, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Josefin Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-en-frame52 {
  gap: 26px;
  top: 52px;
  left: 0.3319999873638153px;
  width: 147px;
  display: flex;
  position: absolute;
  align-items: center;
}
.home-en-bxlfacebook {
  width: 9px;
  height: 17.997150421142578px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-en-path {
  top: 0px;
  left: 0px;
  width: 9px;
  height: 18px;
  position: absolute;
}
.home-en-instagramlogo {
  width: 18px;
  height: 18px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-en-shape {
  top: 0px;
  left: 0px;
  width: 18px;
  height: 18px;
  position: absolute;
}
.home-en-bxltwitter {
  width: 20px;
  height: 15.961999893188477px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-en-path1 {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 16px;
  position: absolute;
}
.home-en-youtubelogo {
  width: 22px;
  height: 15.779802322387695px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-en-shape1 {
  top: 0px;
  left: 0px;
  width: 22px;
  height: 16px;
  position: absolute;
}
.home-en-divider {
  top: 267.20513916015625px;
  left: 1px;
  width: 1073px;
  height: 1px;
  opacity: 0.15;
  position: absolute;
  border-color: rgba(34, 34, 34, 1);
  border-style: solid;
  border-width: 1px;
}
.home-en-group27 {
  top: 6px;
  left: 0px;
  width: 192px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-en-frame {
  top: 0px;
  left: 0px;
  width: 172px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-en-green-modern-farm-logo12 {
  top: 0px;
  left: 0px;
  width: 39px;
  height: 39px;
  position: absolute;
}
.home-en-text34 {
  top: 8px;
  left: 40px;
  color: rgba(34, 34, 34, 1);
  height: auto;
  position: absolute;
  font-size: 26px;
  font-style: SemiBold;
  text-align: center;
  font-family: Roboto Slab;
  font-weight: 600;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.home-en-steps9 {
  gap: 40px;
  top: 1043px;
  left: 0px;
  width: 1440px;
  height: 531px;
  display: flex;
  padding: 64px 165px;
  position: absolute;
  align-items: flex-start;
  border-radius: 20px;
  background-color: rgba(225, 210, 154, 1);
}
.home-en-group2 {
  top: 22px;
  left: 165px;
  width: 632px;
  height: 469px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-en-title5col-left-align {
  gap: 8px;
  top: 0px;
  left: 0px;
  width: 632px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.home-en-text36 {
  color: rgba(0, 66, 41, 1);
  width: 445px;
  height: auto;
  font-size: 48px;
  font-style: Bold;
  text-align: left;
  font-family: Libre Baskerville;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.home-en-text40 {
  top: 191px;
  color: rgba(0, 66, 41, 1);
  width: 632px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: justified;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.home-en-frame13 {
  gap: 19px;
  top: 405px;
  left: 13px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-en-frame551 {
  gap: 43px;
  display: flex;
  align-items: flex-start;
}
.home-en-item1 {
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-en-frame81 {
  width: 30px;
  height: 30px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 46px;
  background-color: rgba(2, 63, 58, 1);
}
.home-en-image73 {
  top: 8px;
  left: 8px;
  width: 30px;
  height: 30px;
  position: absolute;
}
.home-en-rectangle604 {
  top: 3px;
  left: 3px;
  width: 42px;
  height: 39px;
  position: absolute;
}
.home-en-text44 {
  color: var(--dl-color-text-gray900);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
.home-en-item11 {
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-en-frame82 {
  width: 30px;
  height: 30px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 46px;
  background-color: rgba(2, 63, 58, 1);
}
.home-en-image731 {
  top: 8px;
  left: 8px;
  width: 30px;
  height: 30px;
  position: absolute;
}
.home-en-rectangle6041 {
  top: 3px;
  left: 3px;
  width: 42px;
  height: 39px;
  position: absolute;
}
.home-en-text46 {
  color: var(--dl-color-text-gray900);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
.home-en-group6 {
  top: 14px;
  left: 831px;
  width: 445px;
  height: 291px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-en-image {
  top: 0px;
  left: 0px;
  width: 445px;
  height: 291px;
  position: absolute;
  border-radius: 12px;
}
.home-en-frame552 {
  gap: 30px;
  top: 315px;
  left: 830px;
  width: 446px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.home-en-frame87 {
  width: 208px;
  height: 208px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 12px;
  background-color: rgba(151, 151, 151, 1);
}
.home-en-image75 {
  top: 0px;
  left: -31px;
  width: 348px;
  height: 261px;
  position: absolute;
}
.home-en-frame88 {
  width: 208px;
  height: 208px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 12px;
  background-color: rgba(151, 151, 151, 1);
}
.home-en-image76 {
  top: -17px;
  left: -72px;
  width: 398px;
  height: 276px;
  position: absolute;
}
.home-en-group56 {
  top: 0px;
  left: 1px;
  width: 1440px;
  height: 979px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-en-header {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 72px;
  display: flex;
  position: absolute;
  box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.10000000149011612) ;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(2, 63, 58, 1);
}
.home-en-bg {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 72px;
  position: absolute;
}
.home-en-nav-items {
  gap: 32px;
  top: 16px;
  left: 522px;
  width: 753px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
}
.home-en-headermenu-default {
  gap: 10px;
  display: flex;
  align-items: center;
}
.home-en-text50 {
  color: var(--dl-color-text-gray900);
  height: auto;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.home-en-headermenu-default1 {
  gap: 10px;
  display: flex;
  align-items: center;
}
.home-en-text52 {
  color: var(--dl-color-text-gray900);
  height: auto;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.home-en-headermenu-default2 {
  gap: 10px;
  display: flex;
  align-items: center;
}
.home-en-text54 {
  color: var(--dl-color-text-gray900);
  height: auto;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.home-en-headermenu-default3 {
  gap: 10px;
  display: flex;
  align-items: center;
}
.home-en-text56 {
  color: var(--dl-color-text-gray900);
  height: auto;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.home-en-headermenu-default4 {
  gap: 10px;
  display: flex;
  align-items: center;
}
.home-en-text58 {
  color: var(--dl-color-text-gray900);
  height: auto;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.home-en-adjustable-primary-medium {
  width: 106px;
  height: 40px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(225, 210, 154, 1);
}
.home-en-text60 {
  top: 10px;
  left: 34.00001907348633px;
  color: rgba(0, 66, 41, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Bold;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.home-en-group271 {
  top: 5px;
  left: 97px;
  width: 222px;
  height: 62px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-en-frame1 {
  top: 11px;
  left: 20px;
  width: 172px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-en-text62 {
  top: 22px;
  left: 70px;
  color: rgba(34, 34, 34, 1);
  height: auto;
  position: absolute;
  font-size: 26px;
  font-style: SemiBold;
  text-align: center;
  font-family: Roboto Slab;
  font-weight: 600;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.home-en-green-modern-farm-logo11 {
  top: 0px;
  left: 0px;
  width: 62px;
  height: 62px;
  position: absolute;
}
.home-en-hero {
  gap: 20px;
  top: 72px;
  left: 0px;
  width: 1440px;
  height: 907px;
  display: flex;
  padding: 120px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: rgba(2, 63, 58, 1);
}
.home-en-frame131 {
  gap: 60px;
  top: 92.5px;
  left: 233px;
  width: 974px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-en-frame10 {
  gap: 50px;
  width: 974px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.home-en-frame9 {
  gap: 10px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-en-text64 {
  color: rgba(245, 244, 244, 1);
  height: auto;
  font-size: 56px;
  align-self: stretch;
  font-style: Bold;
  text-align: center;
  font-family: Libre Baskerville;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-en-text66 {
  color: rgba(245, 244, 244, 1);
  width: 733px;
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: center;
  font-family: Josefin Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-en-frame11 {
  gap: 30px;
  display: flex;
  align-items: flex-start;
}
.home-en-button-contained {
  gap: 10px;
  display: flex;
  padding: 15px 50px;
  align-items: center;
  border-color: rgba(225, 210, 154, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
}
.home-en-text68 {
  color: rgba(225, 210, 154, 1);
  height: auto;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-en-button-outline {
  gap: 10px;
  display: flex;
  padding: 15px 50px;
  align-items: center;
  border-color: rgba(2, 63, 58, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(225, 210, 154, 1);
}
.home-en-text70 {
  color: rgba(2, 63, 58, 1);
  height: auto;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-en-image1 {
  gap: 10px;
  width: 825px;
  height: 419px;
  display: flex;
  padding: 256px 674px;
  box-shadow: 0px 1px 32px 0px rgba(0, 0, 0, 0.07999999821186066) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 15px;
  background-size: cover;
  justify-content: center;
  background-image: url("public/external/tq_scapzosx1l-k53d-500h.png");
}
