.content-cards-v8-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.content-cards-v8-content-cards-v8 {
  width: 100%;
  height: 2396px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 66, 41, 1);
}
.content-cards-v8-wrapper {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 1881px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(225, 210, 154, 1);
}
.content-cards-v8-text {
  top: 159.37106323242188px;
  left: 492px;
  color: rgba(0, 66, 41, 1);
  width: 456px;
  height: auto;
  position: absolute;
  text-align: center;
  line-height: 46px;
}
.content-cards-v8-text02 {
  top: 215.83396911621094px;
  left: 413.16455078125px;
  color: rgba(0, 66, 41, 1);
  width: 614px;
  height: auto;
  position: absolute;
  text-align: center;
  line-height: 30px;
}
.content-cards-v8-card {
  top: 325.1169738769531px;
  left: 147.486328125px;
  width: 547.5138549804688px;
  height: 454.4352111816406px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.content-cards-v8-image-placeholder {
  top: 0px;
  left: 0px;
  width: 547.5138549804688px;
  height: 454.4352111816406px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.content-cards-v8-container1 {
  top: 0px;
  left: 0px;
  width: 548px;
  height: 454px;
  position: absolute;
  border-radius: 20px;
}
.content-cards-v8-text04 {
  top: 238.60130310058594px;
  left: 50px;
  color: rgba(245, 244, 244, 1);
  width: 324px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 38px;
}
.content-cards-v8-text06 {
  top: 279.5824279785156px;
  left: 50px;
  color: rgba(245, 244, 244, 1);
  width: 448px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 30px;
}
.content-cards-v8-link {
  top: 390.68682861328125px;
  left: 50px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.content-cards-v8-card1 {
  top: 825.0867919921875px;
  left: 147.486328125px;
  width: 547.5138549804688px;
  height: 696.5714111328125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.content-cards-v8-image-placeholder1 {
  top: 0px;
  left: 0px;
  width: 547.5138549804688px;
  height: 696.5714111328125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.content-cards-v8-container2 {
  top: 0px;
  left: 0px;
  width: 548px;
  height: 454px;
  position: absolute;
  border-radius: 20px;
}
.content-cards-v8-imageicon {
  top: 484.36114501953125px;
  left: 193.513671875px;
  width: 160px;
  height: 212.21023559570312px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.content-cards-v8-text08 {
  top: 238.60125732421875px;
  left: 50px;
  color: rgba(245, 244, 244, 1);
  width: 324px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 38px;
}
.content-cards-v8-text10 {
  top: 279.5823974609375px;
  left: 50px;
  color: rgba(245, 244, 244, 1);
  width: 448px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 30px;
}
.content-cards-v8-link1 {
  top: 390.6867980957031px;
  left: 50px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.content-cards-v8-card2 {
  top: 325.1169738769531px;
  left: 745px;
  width: 547.5138549804688px;
  height: 457.21807861328125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.content-cards-v8-image-placeholder2 {
  top: 0px;
  left: 0px;
  width: 547.5138549804688px;
  height: 457.21807861328125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.content-cards-v8-container3 {
  top: 0px;
  left: 0px;
  width: 548px;
  height: 454px;
  position: absolute;
  border-radius: 20px;
}
.content-cards-v8-imageicon1 {
  top: 245.00784301757812px;
  left: 194px;
  width: 160px;
  height: 212.21023559570312px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.content-cards-v8-text12 {
  top: 238.60130310058594px;
  left: 50px;
  color: rgba(245, 244, 244, 1);
  width: 324px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 38px;
}
.content-cards-v8-text14 {
  top: 279.5824279785156px;
  left: 50px;
  color: rgba(245, 244, 244, 1);
  width: 448px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 30px;
}
.content-cards-v8-card3 {
  top: 825.0867919921875px;
  left: 745px;
  width: 547.5138549804688px;
  height: 696.5714111328125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.content-cards-v8-image-placeholder3 {
  top: 0px;
  left: 0px;
  width: 547.5138549804688px;
  height: 696.5714111328125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.content-cards-v8-container4 {
  top: 0px;
  left: 0px;
  width: 548px;
  height: 454px;
  position: absolute;
  border-radius: 20px;
}
.content-cards-v8-imageicon2 {
  top: 484.36114501953125px;
  left: 212px;
  width: 160px;
  height: 212.21023559570312px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.content-cards-v8-text16 {
  top: 238.60125732421875px;
  left: 50px;
  color: rgba(245, 244, 244, 1);
  width: 324px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 38px;
}
.content-cards-v8-text18 {
  top: 279.5823974609375px;
  left: 50px;
  color: rgba(245, 244, 244, 1);
  width: 448px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 30px;
}
.content-cards-v8-link2 {
  top: 390.6867980957031px;
  left: 50px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.content-cards-v8-header {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 72px;
  display: flex;
  position: absolute;
  box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.10000000149011612) ;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(2, 63, 58, 1);
}
.content-cards-v8-bg {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 72px;
  position: absolute;
}
.content-cards-v8-nav-items {
  gap: 32px;
  top: 16px;
  left: 460px;
  width: 815px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
}
.content-cards-v8-headermenu-default {
  gap: 10px;
  display: flex;
  align-items: center;
}
.content-cards-v8-text20 {
  color: var(--dl-color-text-gray900);
  height: auto;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.content-cards-v8-headermenu-default1 {
  gap: 10px;
  display: flex;
  align-items: center;
}
.content-cards-v8-text22 {
  color: var(--dl-color-text-gray900);
  height: auto;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.content-cards-v8-headermenu-default2 {
  gap: 10px;
  display: flex;
  align-items: center;
}
.content-cards-v8-text24 {
  color: var(--dl-color-text-gray900);
  height: auto;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.content-cards-v8-headermenu-default3 {
  gap: 10px;
  display: flex;
  align-items: center;
}
.content-cards-v8-text26 {
  color: var(--dl-color-text-gray900);
  height: auto;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.content-cards-v8-headermenu-default4 {
  gap: 10px;
  display: flex;
  align-items: center;
}
.content-cards-v8-text28 {
  color: var(--dl-color-text-gray900);
  height: auto;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.content-cards-v8-adjustable-primary-medium {
  width: 106px;
  height: 40px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(225, 210, 154, 1);
}
.content-cards-v8-text30 {
  top: 10px;
  left: 10.000019073486328px;
  color: rgba(0, 66, 41, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Bold;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.content-cards-v8-group27 {
  top: 5px;
  left: 97px;
  width: 222px;
  height: 62px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.content-cards-v8-frame {
  top: 11px;
  left: 20px;
  width: 172px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.content-cards-v8-text32 {
  top: 22px;
  left: 70px;
  color: rgba(34, 34, 34, 1);
  height: auto;
  position: absolute;
  font-size: 26px;
  font-style: SemiBold;
  text-align: center;
  font-family: Roboto Slab;
  font-weight: 600;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.content-cards-v8-green-modern-farm-logo11 {
  top: 0px;
  left: 0px;
  width: 62px;
  height: 62px;
  position: absolute;
}
.content-cards-v8-image-placeholder4 {
  top: 1344px;
  left: 446px;
  width: 547.5138549804688px;
  height: 454.4352111816406px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.content-cards-v8-container5 {
  top: 0px;
  left: 0px;
  width: 548px;
  height: 454px;
  position: absolute;
  border-radius: 20px;
}
.content-cards-v8-footermain {
  top: 1877.7130126953125px;
  left: 0px;
  width: 1440px;
  height: 519.813232421875px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(34, 34, 34, 1);
}
.content-cards-v8-background {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 527px;
  position: absolute;
}
.content-cards-v8-footer-ui {
  top: 100px;
  left: 183px;
  width: 1074px;
  height: 319px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.content-cards-v8-text34 {
  top: 305px;
  left: 409px;
  color: rgba(34, 34, 34, 1);
  height: auto;
  opacity: 0.75;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Josefin Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.content-cards-v8-frame55 {
  gap: 65px;
  top: 0px;
  left: 337px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  justify-content: center;
}
.content-cards-v8-learnmore {
  width: 96px;
  height: 223px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.content-cards-v8-text36 {
  color: rgba(34, 34, 34, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Josefin Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.content-cards-v8-text38 {
  top: 43px;
  color: rgba(34, 34, 34, 1);
  height: auto;
  opacity: 0.80;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Josefin Sans;
  font-weight: 400;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.content-cards-v8-ticketsandbooking {
  width: 78px;
  height: 187px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.content-cards-v8-text50 {
  color: rgba(34, 34, 34, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Josefin Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.content-cards-v8-text52 {
  top: 43px;
  color: rgba(34, 34, 34, 1);
  height: auto;
  opacity: 0.80;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Josefin Sans;
  font-weight: 400;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.content-cards-v8-contact-us {
  width: 220px;
  height: 100px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.content-cards-v8-text60 {
  color: rgba(34, 34, 34, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Josefin Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.content-cards-v8-group50 {
  top: 49px;
  left: 0px;
  width: 220px;
  height: 18px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.content-cards-v8-group49 {
  top: 0px;
  left: 0px;
  width: 220px;
  height: 18px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.content-cards-v8-text62 {
  color: rgba(34, 34, 34, 1);
  height: auto;
  opacity: 0.70;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Josefin Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.content-cards-v8-text64 {
  left: 117px;
  color: rgba(34, 34, 34, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Josefin Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.content-cards-v8-social {
  width: 148px;
  height: 72px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.content-cards-v8-text66 {
  color: rgba(34, 34, 34, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Josefin Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.content-cards-v8-frame52 {
  gap: 26px;
  top: 52px;
  left: 0.3319999873638153px;
  width: 147px;
  display: flex;
  position: absolute;
  align-items: center;
}
.content-cards-v8-bxlfacebook {
  width: 9px;
  height: 17.997150421142578px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.content-cards-v8-path {
  top: 0px;
  left: 0px;
  width: 9px;
  height: 18px;
  position: absolute;
}
.content-cards-v8-instagramlogo {
  width: 18px;
  height: 18px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.content-cards-v8-shape {
  top: 0px;
  left: 0px;
  width: 18px;
  height: 18px;
  position: absolute;
}
.content-cards-v8-bxltwitter {
  width: 20px;
  height: 15.961999893188477px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.content-cards-v8-path1 {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 16px;
  position: absolute;
}
.content-cards-v8-youtubelogo {
  width: 22px;
  height: 15.779802322387695px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.content-cards-v8-shape1 {
  top: 0px;
  left: 0px;
  width: 22px;
  height: 16px;
  position: absolute;
}
.content-cards-v8-divider {
  top: 272.8451843261719px;
  left: 1px;
  width: 1073px;
  height: 1px;
  opacity: 0.15;
  position: absolute;
  border-color: rgba(34, 34, 34, 1);
  border-style: solid;
  border-width: 1px;
}
.content-cards-v8-group271 {
  top: 6px;
  left: 0px;
  width: 192px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.content-cards-v8-frame1 {
  top: 0px;
  left: 0px;
  width: 172px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.content-cards-v8-green-modern-farm-logo12 {
  top: 0px;
  left: 0px;
  width: 39px;
  height: 39px;
  position: absolute;
}
.content-cards-v8-text68 {
  top: 8px;
  left: 40px;
  color: rgba(34, 34, 34, 1);
  height: auto;
  position: absolute;
  font-size: 26px;
  font-style: SemiBold;
  text-align: center;
  font-family: Roboto Slab;
  font-weight: 600;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
